<ion-view title="Détails" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="dTails-list3">
      <ion-item id="dTails-list-item9">Voyage
        <span class="item-note">TAO56</span>
      </ion-item>
      <ion-item id="dTails-list-item10">Tournée
        <span class="item-note">1234</span>
      </ion-item>
      <ion-item id="dTails-list-item20">Temp droite | temp gauche</ion-item>
      <ion-item id="dTails-list-item11">LPC
        <span class="item-note">Ici code barre</span>
      </ion-item>
      <ion-item id="dTails-list-item12">ion-progress-bar
        <span class="item-note">Temps estimé</span>
      </ion-item>
      <ion-item id="dTails-list-item13">UM : 4/30
        <span class="item-note">11%</span>
      </ion-item>
      <ion-item class="item-divider" id="dTails-list-item-divider1"> Alertes</ion-item>
    </ion-list>
    <ion-list id="dTails-list4">
      <ion-item class="assertive" id="dTails-list-item17">Température trop basse</ion-item>
      <ion-item class="assertive" id="dTails-list-item18">Attention retard possible</ion-item>
    </ion-list>
  </ion-content>
</ion-view>